.btn {
  display: inline-flex;
  padding: 10px 20px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 12px;
  line-height: 9px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $color-default-white;
  background-color: $color-transparent;;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;
  user-select: none;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
